<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zame.game">

    <uses-permission android:name="android.permission.INTERNET" />

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ecb19f2d73915c06f86059a1048d0eb35664e048" />

    </application>
</manifest>
