<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="{$PKG_ROOT}.game"
		android:versionCode="{$BUILD_CODE}"
		android:versionName="{$BUILD}"
		android:installLocation="auto">
	<application
			android:label="@string/app_name"
			android:icon="@drawable/ic_launcher"
			android:name=".ZameApplication">
		<activity
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
				android:name="MenuActivity"
				android:label="@string/app_name"
				android:screenOrientation="landscape"
				android:launchMode="singleTop"
				android:alwaysRetainTaskState="true"
				android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:name="GameActivity"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:launchMode="singleTop"
			android:configChanges="keyboard|keyboardHidden|orientation"
		/>
		<activity
			android:theme="@android:style/Theme.NoTitleBar"
			android:name="GamePreferencesActivity"
			android:label="@string/app_name"
			android:launchMode="standard"
		/>
		<activity
			android:name="com.zeemote.zc.ui.android.ControllerAndroidUi$Activity"
			android:screenOrientation="landscape"
		/>
		<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
	</application>

	<uses-sdk android:minSdkVersion="7" />
	<uses-sdk android:targetSdkVersion="8" />
	<support-screens android:anyDensity="true" android:compatibleWidthLimitDp="320" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" /><!-- for Google Analytics -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- for Google Analytics -->
	<uses-permission android:name="android.permission.BLUETOOTH" /><!-- for Zeemote -->
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /><!-- for Zeemote -->
</manifest>